body {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(218, 169, 80);
}

.grey {
  background: rgba(184, 184, 184, 0.5);
}

#title {
  margin-bottom: 0;
  font-size: 60px;
}

#description {
  margin-top: 5px;
  margin-bottom: 20px;
}

#survey-form {
  background: white;
  border-radius: 10px;
  max-width: 60%;
  margin: auto;
  padding: 20px;
}

.input-section {
  padding: 10px;
  margin-bottom: 10px;
}

.main-label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

.subsection {
  text-align: left;
  width: 55%;
  margin: auto;
}

.subsection .main-label,
#other-label {
  display: block;
}

#other {
  display: block;
  width: 40%;
  height: 100px;
  margin: auto;
}

input {
  padding: 5px;
  border-radius: 5px;
}